@charset "utf-8";
@import "system";


html {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
}

body {
    width: 100vw;
    font-family: 'Noto Sans TC', "Microsoft JhengHei", sans-serif !important;
    -webkit-overflow-scrolling: touch;


    .container-fluid {
        padding-left: 0;
        padding-right: 0;

    }
}


#header {


    #mob-use-nav {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
    }


  
    background: #fff;
    height: 122px;
    padding-left: 80px;

    @include mob(){
        padding-left: 0px;
        padding-right: 0px;
        height: initial;
    }

    a#logo {
        margin-bottom: 8px;
        display: inline-block;

        @include mob(){
            margin: 15px ;

        }
    }

    .row {
        height: inherit;
    }

    #nav {

        @include mob(){
            display: none
        }
        
      
         
     

        ul {
            @include ulstyle();

            li {
                display: inline-block;
                margin-right: 25px;
                padding: 25px 0;
                @include mob(){
                    display: block;
                    margin-right: 0;
                    padding: 15px 0;
                    text-align: center;
                }

                a {

                  color: #787878;
                  text-decoration: none;
                  font-weight: bold;
                 

                  &:hover {
                    color: $m-color;
                    font-weight: bold;
                  }
                
                }


                &:last-child {
                    background: $m-color;
                    margin-right: 0;
                    position: relative;
                    padding-left: 15px;
                    margin-left: 30px;
                    padding-right: 55px;
                    &:before {
                        position: absolute;
                        top: 0;
                        left: -40px;
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 0 74px 40px;
                        border-color: transparent transparent #009ab6 transparent;

                    }

                    a {
                        color: #fff;
                        img {
                            margin-left: 10px;
                        }
                    }
                }
            }



        }
    }
  

}




    #header-images {

        padding-left: 80px;
        @include mob(){
            padding-left: 0px;
        }

        .header-images-box {
            position: relative;

            .images-info {
                position: absolute;
                bottom: 10vh;
                left: 5vw;
                @include mob(){
                    bottom: 2vh;
                }

                p {
                  font-size: $font*2;  
                  margin-bottom: 5px;
                  color: #666;
                  @include mob(){
                    font-size: $font*1.1;  
                  }

                  &:last-child {
                      color: #fff;
                  }
                }

            }

            

         

              

         

        }

        .owl-dots  {
            margin-top: 0;
            position: absolute;
            bottom: 50px;
            width: 100%;
            text-align: left;
            padding-left: 80px;
            @include mob(){
                margin-top: 0;
                position: absolute;
                bottom: 0px;
                width: 100%;
               
                padding-left: 0;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
            }

        }

         .owl-dots .owl-dot.active span , .owl-dots .owl-dot:hover span {
            background: #869791;
            width: 30px;
            height: 2px;
        }

         .owl-dots .owl-dot span {
            width: 30px;
            height: 2px;
            background: #eee;

         }


    }


    //關於我們

    #about {
        margin-top: 50px;

        h1 {
            font-size: $font*1.1;
            letter-spacing: 5px;

            span {
                display: block;
                font-size: $font*0.8;
                color: #ccc;
                letter-spacing: 0px;
                margin-top: 3px;

            }
        }

        #about-images {

            .owl-nav {
              
                text-align: right;
                @include mob(){
                    padding-right: 15px;
                }
            }

            button.owl-prev {
                width: 25px;
                height: 4px;
                border-radius: 0;
                &:hover , &:focus {
                    background: transparent;
                    outline:none;
                }


            }

             button.owl-next {
                width: 25px;
                height: 4px;
                border-radius: 0;
                transform: translateY(3px);
                &:hover, &:focus {
                    background: transparent;
                    outline:none;
                }
            }





        }

        .about-info {

            color: #878787;
            font-size: $font*0.8;
       
    font-size: .8rem;
    margin-top: 50px;
            p{
                margin-bottom: 10px;

                a {
                    color: #9B9B9B;
                }
            }

        }



        .ver {

            writing-mode: vertical-lr;
            display: inline-block;
            margin: 0;

            &:first-child {
                letter-spacing: 0px;
                margin-bottom: 26px;
             
            }
        }




    }


    
        //最新消息

        #news {

          margin: 150px 0 150px 0;
          @include mob(){
              margin:  50px 0;
          }


            h2 {

                font-size: $font*1.1;
                letter-spacing: 5px;
    
                span {
                    display: block;
                    font-size: $font*0.8;
                    color: #ccc;
                    letter-spacing: 0px;
                    margin-top: 3px;
    
                }
                
            }

            .news-list {
                @include ulstyle();
                border-top: #ccc solid 1px;
                padding-left: 100px;
                flex-wrap: wrap;
                @include mob(){
               
                    padding-left: 15px;
                    padding-right: 15px;

                }

                li {
                   padding:25px 0 ;
                   border-bottom: #ccc solid 1px;
                a {
                    color: #666;
                    font-size: $font*0.875;
                    text-decoration: none;
                    transition: all 0.35s ease;

                    &:hover {

                        text-decoration: none;
                        padding-left: 25px;
                        opacity: .5;
                        transition: all 0.35s ease;
                       

                      
                    }
                }


                }

            }

        }
       
        //產品介紹
        #products {

            padding: 0 32px;

            .row {
                @include mob(){
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .pr-title {

                margin-right: 50%;
                margin-bottom: 68px;
                @include mob(){
                    margin-right: 0;
    margin-bottom: 35px;
    text-align: center;
                }

            }

            h3 {
                font-size: $font*1.1;
                letter-spacing: 5px;
                padding-left: 5vw;
                @include mob(){
                    padding-left: 0;
                }
    
                span {
                    display: block;
                    font-size: $font*0.8;
                    color: #ccc;
                    letter-spacing: 0px;
                    margin-top: 3px;
    
                }
            }

            .prodbox {
                position: relative;

              

                a {
                    display: block;
                    transition: all 0.35s ease;
                    @include mob(){
                        margin-bottom: 50px;
                        position: relative;
                    }

                    &:hover {
                        transition: all 0.35s ease;
                       
                    }


                    span {
                        position: absolute;
                        bottom: -30px;
                        width: 100%;
                        left: 40px;
                        font-size: $font*0.9;
                        color: #787878;
                        transition: all 0.35s ease;
                        @include mob(){
                            width: inherit;
                            bottom: -30px;
                        }
    
                        &:before {
                            content: '';
                            background: #B4B4B4;
                            width: 1px;
                            height: 42px;
                            position: absolute;
                            left: -10px;
                            top: -20px;
                        }
    
    
                    }

                    &:hover {

                        span {

                            
    position: absolute;
    bottom: initial;
    top: 50%;
    transform: translateY(-50%);
   
    left: 40px;
    transition: all 0.35s ease;
  
   

    &:before {
      
        height: 20px;
        top: 0;
      
    }

                        }


                        &:before {
                            width: 100%;
                            height: 100%;
                            left: 0;
                            top: 0;
                            background: rgba(255,255,255,.75);
                            content: '';
                            transition: all 0.35s ease;
                            position: absolute;
                                                    }



                    }





                }

                

            }


        }


        //生活知識

        #know {
            @include mob(){
                margin-top: 35px;
            }

            .container {
                max-width: 1188px;
                padding-left: 0;
                padding-right: 0;
            }

            min-height: 376px;
            background: $m-color;
            margin-top: 235px;
            padding-top: 48px;


            h4 {
                font-size: $font*1.25;

                p {
                    margin: 0;
                    color: #fff;
                    &:last-child {
                        color: rgba(255,255,255,.55);
                    }

                }
            }

            .know-list {
                
                @include ulstyle();
                flex-wrap: wrap;  
    display: flex;
    border-top: #ccc solid 1px;
    margin-top: 32px;
 
    padding-top: 45px;



                li {
                    display: inline-block;
                    -ms-flex-preferred-size: 0;
                    padding: 0 25px 0 25px;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3) 0%, rgba(255,255,255,.3) 60%, transparent 50%);
    background-size: 1px 12px;
    background-repeat: repeat-y;
    @include mob(){
        flex: 50%;
        margin-bottom: 25px;
    }

                    p.k-date {
                        margin-bottom: 20px;
                        color: rgba(255,255,255,.55);
                    }
                    p.k-title {
                        margin-bottom: 40px;
                        color: #fff;
                    }
                    a {
                        background: #fff;
                        border-radius: 25px;
                        padding: 2px 15px;
                        color: $m-color;
                        text-decoration: none;
                        font-size: $font*0.8;
                        
                    }

&:first-child {
    background-image:none;
    padding: 0 25px 0 0;
    @include mob(){
        background-image: none;
       
        flex: 100%;
        text-align: center;
      
        padding-left: 25px;
    }
}

                }
            }




        }

      



footer {

    border-bottom: $m-color solid 15px;

  

    .container {
        max-width: 1188px;
        margin-top: 165px;
        padding-left: 0;
        padding-right: 0;
        @include mob(){
            margin-top: 65px;
        }

        &> .row {
            @include mob(){
                margin-right: 15px;
                margin-left: 15px;

            }
        }

        .col-md-4 {
            @include mob(){
                padding: 0;
                margin-bottom: 15px;
            }

        }
        



        a.footer-link {
           
            padding: 25px 0 25px 25px;;
            color: #787878;
            text-decoration: none;
            border: #ccc solid 1px;
            display: block;
            position: relative;
            text-decoration: none;

            span {
              color: #ccc;
                margin-left: 15px;
               
            }
            svg {
                fill: none;
                stroke: #666;
                stroke-linecap: round;
                stroke-linejoin: round;
                position: absolute;
                right: 15px;
                top: 50%;



            }

            &:hover {
                text-decoration: none;
                background: $m-color;
                color: #fff;
                transition: all 0.5s ease;

                span {
                    color: rgba(255,255,255,.5);
                    transition: all 0.5s ease;
                  
                   
                }

                svg {

                    fill:none;
                    stroke:#fff;
                    stroke-linecap:round;
                    stroke-linejoin:round;
                   
                }

            }
           
        }

        .footer-info {
          font-size: $font*0.875;
           margin-top: 130px;
           margin-bottom: 10px;
           @include mob(){
            margin-top: 65px;
           }

           .col-md-auto.col {
               padding-right: 15px;
           }
        }
      
    }



}

